.tasks-page__tasks-list {
  display: block;
  width: 45%;
  margin: 0 auto;
  height: 86%;
  overflow-x: hidden;
  overflow-y: auto;
}

.tasks-page__add-task {
  position: absolute;
  right: 3rem;
  bottom: 6rem;
}

.tasks-page__add-task-page-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--modal-wrap-bg-color);
  z-index: 2;
}
.tasks-page__add-task-page {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  border: 0.1rem solid var(--task-border-color);
  background-color: var(--page-bg-color);
  padding: 3.2rem;
  border-radius: 0.6rem;
  z-index: 3;
}
