.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
  margin: 0.2rem 0;
  column-gap: 1.2rem;

  &.is-overdue {
    color: var(--error-color);
  }

  &.is-completed {
    text-decoration: line-through;
  }
}

.task__completed {
  border-radius: 50%;
}

.task__title {
  cursor: pointer;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: left;
}

.task__delete {
  display: flex;
  align-items: center;
  justify-content: right;
}

.task__delete-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
