* {
  box-sizing: border-box;
}

:root {
  --page-bg-color: white;
  --selected-item-color: blue;
  --control-color: white;
  --control-bg-color: blue;
  --label-color: black;
  --error-color: red;
  --box-shadow-color: #a49696;
}

body {
  overflow-x: hidden;
}
