* {
  box-sizing: border-box;
}

:root {
  --page-bg-color: white;
  --selected-item-color: rgb(0, 140, 255);
  --control-color: white;
  --control-bg-color: rgb(0, 140, 255);
  --label-color: black;
  --error-color: red;
  --box-shadow-black: #a49696;
  --task-border-color: rgb(0, 140, 255);
}

body {
  overflow-x: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
